.navbar{
    width: 80%;
    /* margin: auto; */
    line-height: 100px;
    position: absolute;
    left: 10%;
}
li{
    display: inline-block;
    list-style: none;
    margin-left: 25px;
}
li a{
    text-decoration: none;
    color: #373737;
    font-weight: 600;
}

li button.btn{
    background-color: #fff;
    color: #373737;
    font-weight: 600;
}
li i{
    font-size: 28px;
}